// @import 'icon/*.png';
// @include all-icon-sprites;

html{
  background: #8a0000;
}
h1,h2,h3,body{
  color: white;
}
header{
  img{
    max-width: 30%;
    height: auto;
  }
  background: white;
}
.navigation{
  ul{
    background: $navbgcolor;
    font-size: 1em;
    li{
      a{
        color: white;
        font-family: Arial;
      }
    }
  }
}
#currentpage{
  li{
    background: white;
    text: $navbgcolor;
  }
}