// @import 'icon/*.png';
// @include all-icon-sprites;
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Roboto');

html{
  //background: #8a0000; Ozzies original bg color
  background: black;
}
h1,h2,h3,body{
  color: white;
}
h2{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 1.75em;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}
header{
  img{
    max-width: 30%;
    height: auto;
  }
  background: white;
}
.navigation{
  ul{
    background: $navbgcolor;
    #currentpage{
      background: #8a0000;
    }
    font-size: 1em;
    li{
      a{
        color: white;
        font-family: Arial;
      }
    }
  }
}
img{
  max-width: 300px;
  height: auto;
}
.sec1img{
  img{
      justify-items: left;
  }
}