.container{
	max-width: 1280px;
	outline: none;
	margin: 0 auto;
	margin-top: 20px;
}
.site{
	display: grid;
	// grid-gap: 5px;
	// grid-template-columns: 1fr 1fr 1fr;
	// grid-template-rows: 80px repeat(3, 300px) 600px 80px;

	grid-template-areas:
	"head head head"
	"nav nav nav"
	"sec1 sec1 sec1img"
	"sec2img sec2 sec2 "
	"sec3 sec3 sec3img"
	"sec4img sec4 sec4"
	"foot foot foot";

}
//Image here was stretching in chrome when using justify-content: space around.  When I utilized justify and align center it quickly remedied the issue.  TYBG.
.header{
	grid-area: head;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}
.navigation{
	// grid-column: 1 / 4;
	grid-area: nav;
	justify-content: stretch;
	ul{
		text-align: center;
		li{
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		margin: auto;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
			a{
				display: block;
				margin: auto;
				text-decoration: none;
			}//a
		}//li
	}//ul
}//.nav
.body{
}
.sec1{
	grid-area: sec1;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 5px;
}
.sec1img{
	grid-area: sec1img;
	margin-top: 15px;
	margin-bottom: 15px;
}
.sec2{
	grid-area: sec2;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 5px;
}
.sec2img{
	grid-area: sec2img;
	margin-top: 15px;
	margin-bottom: 15px;
}
.sec3{
	grid-area: sec3;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 5px;
}
.sec3img{
	grid-area: sec3img;
	margin-top: 15px;
	margin-bottom: 15px;
}
.sec4{
	grid-area: sec4;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 5px;
}
.sec4img{
	grid-area: sec4img;
	margin-top: 15px;
	margin-bottom: 15px;
}
.footer{
	margin-top: 30px;
}
.map{
	grid-area: sec1;
}
.mariners{
	grid-colum-start: 1;
	grid-colum-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: center;
}
.seahawks{
	grid-colum-start: 2;
	grid-colum-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	justify-self: center;
}
@media screen and (max-width: 959px){
	.container{
		outline: solid 0px;
	}
}
@media screen and (max-width: 860px){
	.site{
		display: grid;
		grid-gap: 5px;
		// grid-template-columns: 1fr 1fr 1fr;
		// grid-template-rows: 80px repeat(3, 300px) 600px 80px;

		// grid-template-areas:;

		// align-items: start;

	}
}